@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif !important;
}

header {
    position: relative;
    -webkit-user-select: none;       
    -moz-user-select: none;
    user-select: none;
}

header a:link, a:visited,  a:hover, a:active {
    color: white;
    text-decoration: none;
}

#banner {
    position: absolute;
    background-image: url("/assets/img/banner.webp");
    height: 33vh;
    width: 100%;
    filter: blur(2px) brightness(50%);
    -webkit-filter: blur(2px) brightness(50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-real {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 33vh;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

#header-real img {
    height: 250px;
    max-height: 28vh;
}

.botones-header {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: x-large;
    font-weight: bold;
}

.botones-header li {
    transition: all .3s ease-in-out;
    margin: 0 10px;
}

.botones-header li:hover {
    transition: .2s;
    transform: scale(1.1);
}

.botones-header li a {
    position: relative;
    display: inline-block;
    color: white;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.botones-header li a::before {
    position: absolute;
    content: attr(data-content);
    background: -webkit-linear-gradient(#c39634, #cca352, #fde6b8, #fef3dc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}

.botones-header li a:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.acerca-de {
    background: -webkit-linear-gradient(#CCCCCC, #d0d0d0, #e4e4e4);
    padding: 35px;
}

.acerca-de p {
    text-align: center;
    padding: 20px;
    max-width: 80%;
    margin: auto;
}

.acerca-de hr {
    color: darkgray;
    margin: auto;
    max-width: 40%;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.formulario h2 {
    margin: 0 auto;
    padding-top: 35px;
}

.contenedor-entradas {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 35px auto 0 auto;
    position: relative;
}

.contenedor-entradas li {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contenedor-entradas li label {
    padding: 8px;
}

.contenedor-entradas > li > label {
    flex: 1 0 160px;
    max-width: 220px;
}

.contenedor-entradas > li > label + * {
    flex: 1 0 220px;
}

.contenedor-entradas li input,
.contenedor-entradas li textarea {
    font-size: small;
    padding: 15px;
    max-width: 90%;
    margin: 0 auto;
}

.entradas-bottom button {
    cursor: pointer;
    margin: 16px 6px 0 0;
    margin-left: auto;
    padding: 6px 12px;
    border: none;
    background: url(/assets/img/bg.jpg);
    color: #f2f2f2;
    border-radius: 2px;
    font-size: large;
    font-weight: bold;
    position: relative;
    display: inline-block;
    color: white;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.entradas-bottom button:hover {
    transition: .2s;
    transform: scale(1.1);
}

.entradas-bottom button::before {
    position: absolute;
    content: attr(data-content);
    background: -webkit-linear-gradient(#c39634, #cca352, #fde6b8, #fef3dc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}

.entradas-bottom button:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.entradas-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    max-width: 790px;
    margin: 10px auto 35px auto;
}

#nl-flex {
    display: flex;
    max-width: 85%;
    margin: 0 auto;

}

#nl-label {
    margin-right: 15px;
}

.contenedor-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
    max-width: 90%;
    margin: auto;
}

.lista-productos {
    margin: 35px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    flex-direction: row;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 400px;
    max-height: 90%;
    max-width: 90%;
    width: 300px;
    min-width: 300px;
    border: solid 2px black;
    border-radius: 32px;
    transition: all .3s ease-in-out;
    -webkit-user-select: none;       
    -moz-user-select: none;
    user-select: none;
}

.producto:hover {
    background: -webkit-linear-gradient(#fde6b8, #fef3dc, white, #fef3dc, #fde6b8);
    border: solid 2px #c39634;
    transform: scale(1.02);
}

.producto p {
    padding-bottom: 10px;
    text-align: center;
    max-width: 90%;
}

.producto img {
    height: 250px;
    max-height: auto;
}

.diferenciales {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 35px;
}

#diferenciales-contenido {
    padding: 25px 0 10px 0;
    display: flex;
    justify-content: center;
}

.img-diferenciales {
    object-fit: cover;
    border-radius: 20px;
    max-width: 45%;
}

.encabezado {text-align: center;}

.diferenciales ul {
    font-size: medium;
    vertical-align: top;
    width: 45%;
}

.mision {font-size: 20px;}

.items {font-style: italic;}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    height: 33vh;
    width: 100%;
    background: url(/assets/img/bg.jpg);
    background-repeat: repeat;
    background-size: 100px;
    -webkit-user-select: none;       
    -moz-user-select: none;
    user-select: none;
}

footer span {
    text-align: center;
    color: white;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

footer img {
    height: 13vh;
    max-width: auto;
}

.filter-white {
    filter: invert(100%) sepia(7%) saturate(4376%) hue-rotate(230deg) brightness(104%) contrast(106%);
    -webkit-filter: invert(100%) sepia(7%) saturate(4376%) hue-rotate(230deg) brightness(104%) contrast(106%);
}

@media screen and (max-width: 700px) {
    .botones-header {
        flex-direction: column;
    }

    .botones-header li {
        font-size: 1.5rem;
    }

    .acerca-de {
        background: -webkit-linear-gradient(#CCCCCC, #d0d0d0, #e4e4e4);
        padding: 35px 0;
    }
    
    .acerca-de p {
        text-align: center;
        padding: 20px 0;
        max-width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .entradas-bottom button {
        margin: 16px 20px 0 0;
    }
}