/* GLOBALES */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif !important;
}

header {
    background: black;
    position: relative;
    -webkit-user-select: none;       
    -moz-user-select: none;
    user-select: none;
}

header > div {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 33vh;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

header > img {
    position: absolute;
    object-fit: cover;
    height: 33vh;
    width: 100%;
    filter: blur(2px) brightness(50%);
    -webkit-filter: blur(2px) brightness(50%);
}

header > div > img {
    height: 150px;
    max-height: 28vh;
}

header > div > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: x-large;
    font-weight: bold;
}

header > div > ul > li {
    transition: all .3s ease-in-out;
    margin: 0 10px;
}

header > div > ul > li a:hover {
    transition: .2s;
    transform: scale(1.1);
}

header > div > ul > li a {
    position: relative;
    display: inline-block;
    color: white;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

header > div > ul > li a::after {
    content: '';
    display: block;
    margin: auto;
    border-radius: 2px;
    margin-top: 1px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

header > div > ul > li > a:hover::after {
    width: 85%;
    background: -webkit-linear-gradient(#c39634, #cca352, #fde6b8, #fef3dc);
    background: linear-gradient(#c39634, #cca352, #fde6b8, #fef3dc);
}

header > div > ul > li a::before {
    position: absolute;
    content: attr(data-content);
    background: -webkit-linear-gradient(#c39634, #cca352, #fde6b8, #fef3dc);
    background: linear-gradient(#c39634, #cca352, #fde6b8, #fef3dc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}

header > div > ul > li a:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header a:link, a:visited,  a:hover, a:active {
    color: white;
    text-decoration: none;
}

.titulo-principal {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

section {
    padding: 50px;
}

label {
    -webkit-user-select: none;       
    -moz-user-select: none;
    user-select: none;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    height: 33vh;
    width: 100%;
    background: url(/assets/img/bg.jpg);
    background-repeat: repeat;
    background-size: 100px;
    -webkit-user-select: none;       
    -moz-user-select: none;
    user-select: none;
}

footer > span {
    text-align: center;
    color: white;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

footer > img {
    height: 13vh;
    max-width: auto;
}

/* "PARCHES" O "HACKS" */
.filter-white {
    -webkit-filter: invert(100%) sepia(7%) saturate(4376%) hue-rotate(230deg) brightness(104%) contrast(106%);
    filter: invert(100%) sepia(7%) saturate(4376%) hue-rotate(230deg) brightness(104%) contrast(106%);
}

/* HOME */
.acerca-de {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: -webkit-linear-gradient(#cccccc, #e7e7e7, #cccccc);
    background: linear-gradient(#cccccc, #e7e7e7, #cccccc);
}

.acerca-de > div {
    width: 600px;
    min-width: 60%;
    padding: 30px 0 10px 0;
}

.acerca-de > div > p {
    text-align: center;
    margin: auto;
}

.acerca-de > div > hr {
    color: darkgray;
    margin: 30px auto;
    max-width: 40%;
}

.acerca-de em {
    font-size: 20px;
}

.mapa {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mapa > p {
    text-align: center;
    color: #4d4d4d;
    padding-top: 20px;
}

.mapa > iframe {
    min-width: 60%;
    max-width: 100%;
    border: 2px solid #cccccc;
    border-radius: 15px;
    margin-top: 35px;
    margin-bottom: 10px;
}

.diferenciales {
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(#cccccc, #e7e7e7, #cccccc);
    background: linear-gradient(#cccccc, #e7e7e7, #cccccc);

}

.diferenciales > div {
    min-width: 600px;
    max-width: 60%;
    margin: 0 auto;
    padding: 35px 0 10px 0;
    display: flex;
}

.diferenciales > div > img {
    max-width: 50%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.7);
}

.diferenciales > div > ul {
    padding-left: 20px;
    margin: auto 0;
    max-width: 50%;
    font-size: medium;
    vertical-align: top;
    font-style: italic;
}

.diferenciales > div > ul > li {
    list-style-type: none;
    font-size: x-large;
    padding: 5px 0;
}

.diferenciales > div > ul > li:before {
    content: "★";
    padding-right: 20px;
}

.exhibicion {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.exhibicion > iframe {
    min-width: 60%;
    max-width: 100%;
    border-radius: 15px;
    margin-top: 35px;
    margin-bottom: 10px;
}

/* PRODUCTOS */
.contenedor-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}

.contenedor-productos > div {
    margin: 35px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    flex-direction: row;
}

.contenedor-productos > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 400px;
    max-height: 90%;
    max-width: 90%;
    width: 300px;
    min-width: 300px;
    border: solid 2px black;
    border-radius: 32px;
    transition: all .3s ease-in-out;
    -webkit-user-select: none;       
    -moz-user-select: none;
    user-select: none;
}

.contenedor-productos > div > div:hover {
    background: -webkit-linear-gradient(#fde6b8, #fef3dc, white, #fef3dc, #fde6b8);
    background: linear-gradient(#fde6b8, #fef3dc, white, #fef3dc, #fde6b8);
    border: solid 2px #c39634;
    transform: scale(1.02);
}

.contenedor-productos > div > div > p {
    padding-bottom: 10px;
    text-align: center;
    max-width: 90%;
}

.contenedor-productos > div > div > img {
    height: 250px;
    max-height: auto;
}

/* CONTACTO */
.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background: -webkit-linear-gradient(#cccccc, #e7e7e7, #cccccc);
    background: linear-gradient(#cccccc, #e7e7e7, #cccccc);
}

.formulario > form {
    padding: 0;
    margin: 0;
}

.formulario > form > ul {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 35px auto 0 auto;
    position: relative;
}

.formulario > form > ul > li {
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.formulario > form > ul > li > label {
    flex: 1 0 160px;
    max-width: 250px;
    font-size: large;
    padding: 8px 0;
}

.formulario > form > ul > li > label + * {
    flex: 1 0 250px;
}

.formulario > form > ul > li > input,
.formulario > form > ul > li > textarea {
    font-size: medium;
    padding: 15px;
    margin: 0 auto;
}

.newsletter-submit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    max-width: 800px;
    margin: 10px auto 0 auto;
}

.newsletter-submit > div {
    padding: 20px 0;
    display: flex;
    max-width: 85%;
    margin: 0 auto;
}

.newsletter-submit > div > label {
    margin-right: 15px;
}

.newsletter-submit > button {
    cursor: pointer;
    margin-left: auto;
    padding: 6px 12px;
    border: none;
    background: black;
    color: white;
    border-radius: 2px;
    font-size: large;
    font-weight: bold;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.newsletter-submit > button:hover {
    transition: .2s;
    transform: scale(1.1);
}

.newsletter-submit > button::before {
    position: absolute;
    content: attr(data-content);
    background: -webkit-linear-gradient(#c39634, #cca352, #fde6b8, #fef3dc);
    background: linear-gradient(#c39634, #cca352, #fde6b8, #fef3dc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}

.newsletter-submit > button:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.horarios {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.horarios > table {
    width: 600px;
    margin: 35px auto 0 auto;
}

.horarios table, th, td {
    overflow-wrap: normal;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
}

.horarios th {
    background: #1e201f;
    color: white;
}


/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
    header > img {
        -webkit-filter: blur(2px) brightness(45%);
        filter: blur(2px) brightness(45%);
    }

    header > div > ul {
        flex-direction: column;
    }

    header > div > ul > li {
        font-size: 1.5rem;
    }

    header > div > ul > li a::after {
        margin: 0 0 0 10px;
    }

    header > div > ul > li > a:hover::after {
        width: 47px;
    }

    .acerca-de > div {
        width: auto;
        max-width: 100%;
    }

    .diferenciales div {
        min-width: 60%;
        max-width: 100%;
    }

    .diferenciales > div > ul > li {
        font-size: large;
    }
    
    .horarios > table {
        max-width: 100%;
    }

    .formulario > form > ul > li > label {
        font-size: medium;
    }

    .diferenciales > div > ul > li:before {
        padding-right: 10px;
    }
}